<nz-spin [nzSpinning]="isSpinning">
    <form nz-form [formGroup]="form" (ngSubmit)="save(form.value)">
        <nz-form-item>
            <nz-form-label nzFor="selectedCategory" nzRequired>Category</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Please select your category!">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a category"
                    formControlName="selectedCategory" id="selectedCategory" [nzLoading]="isLoading">
                    <nz-option *ngFor="let option of listOfCategories" [nzLabel]="option.label"
                        [nzValue]="option.value">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired nzFor="title">Title</nz-form-label>
            <nz-form-control nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="titleErrorTpl">
                <input nz-input formControlName="title" type="text" id="title">
                <ng-template #titleErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Please input your title!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('duplicated')">
                        The Title is redundant!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="imageFileName">Image File Name</nz-form-label>
            <nz-form-control nzHasFeedback>
                <input nz-input formControlName="imageFileName" type="text" id="imageFileName">
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired nzFor="author">IMDB Rating</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Please input a author!">
                <input nz-input formControlName="author" type="text" id="author">
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired nzFor="description">Description</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Please input some Description!">
                <textarea nz-input id="description" placeholder="Description..." formControlName="description"
                    [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
            </nz-form-control>
        </nz-form-item>

        <nz-divider></nz-divider>
        <div class="text-right">
            <button type="button" nz-button (click)="close()" class="mr-8">Cancel</button>
            <button nz-button nzType="primary" [disabled]="form.invalid">Save</button>
        </div>

    </form>
</nz-spin>