<nz-spin [nzSpinning]="isSpinning">
<form nz-form [formGroup]="form" (ngSubmit)="save(form.value)">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="name">Name</nz-form-label>
      <nz-form-control nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="NameErrorTpl">
        <input nz-input formControlName="name" type="text" id="name">
        <ng-template #NameErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please input your name!
          </ng-container>
          <ng-container *ngIf="control.hasError('duplicated')">
            Name is redundant!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item >
    <nz-divider></nz-divider>
    <div class="text-right">
        <button type="button" nz-button (click)="close()" class="mr-8">Cancel</button>
        <button nz-button nzType="primary" [disabled]="form.invalid">Save</button>
    </div>
    
</form>
</nz-spin>
